.container{
    width: 100%;
    height: 100%;
    background-color: #212121;
  }
  
  .box{
    width: 15%;
    height: 100px;
    margin: 40px;
    box-sizing: border-box;
    font-size: 20px;
  }
  
  @media screen and (orientation: landscape) {
    .box {
      width: 12%;
      margin: 59px;
    }
    .container{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .otro-container{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    body{
      font-family: 'Roboto', sans-serif;
      text-align: center;
      background: #f1f1f1;
    }
    
    #floating-button{
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background: #db4437;
      position: fixed;
      bottom: 30px;
      right: 40px;
      cursor: pointer;
      box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    }
    
    
    #container-floating{
      position: fixed;
      width: 70px;
      height: 70px;
      bottom: 352px;
      right: 17px;
      z-index: 50px;
    }
    #container-floating:hover .plus{
      animation: plus-in 0.15s linear;
      animation-fill-mode: forwards;
    }
    
    .edit{
      position: absolute;
      top: 0;
      display: block;
      bottom: 0;
      left: 0;
      display: block;
      right: 0;
      padding: 0;
      opacity: 0;
      margin: auto;
      line-height: 65px;
      transform: rotateZ(-70deg);
      transition: all 0.3s;
      animation: edit-out 0.3s;
    }
    
    #container-floating:hover .edit{
      animation: edit-in 0.2s;
       animation-delay: 0.1s;
      animation-fill-mode: forwards;
    }
    
    @keyframes edit-in{
        from {opacity: 0; transform: rotateZ(-70deg);}
        to {opacity: 1; transform: rotateZ(0deg);}
    }
    
    @keyframes edit-out{
        from {opacity: 1; transform: rotateZ(0deg);}
        to {opacity: 0; transform: rotateZ(-70deg);}
    }
    
    @keyframes plus-in{
        from {opacity: 1; transform: rotateZ(0deg);}
        to {opacity: 0; transform: rotateZ(180deg);}
    }
    
    @keyframes plus-out{
        from {opacity: 0; transform: rotateZ(180deg);}
        to {opacity: 1; transform: rotateZ(0deg);}
    }
    
    .nds{
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: fixed;
      z-index: 300;
      transform:  scale(0);
      cursor: pointer;
    }
    
    @keyframes bounce-nds{
        from {opacity: 0;}
        to {opacity: 1; transform: scale(1);}
    }
    
    @keyframes bounce-out-nds{
        from {opacity: 1; transform: scale(1);}
        to {opacity: 0; transform: scale(0);}
    }
    
    #container-floating:hover .nds{
      
      animation: bounce-nds 0.1s linear;
      animation-fill-mode:  forwards;
    }
  
  }
  
  @media screen and (orientation: portrait) {
    .box {
      width: 50%;
      height: auto;
      margin: 22px;
      align-items: center;
      justify-content: center;
    }
    .container{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    .otro-container{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
    body{
      font-family: 'Roboto', sans-serif;
      text-align: center;
      background: #f1f1f1;
    }
    
    #floating-button{
      width: 55px;
      height: 55px;
      border-radius: 50%;
      background: #db4437;
      position: fixed;
      bottom: 30px;
      right: 30px;
      cursor: pointer;
      box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    }
    
    .plus{
      color: white;
      position: absolute;
      top: 0;
      display: block;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 0;
      margin: 0;
      line-height: 55px;
      font-size: 38px;
      font-family: 'Roboto';
      font-weight: 300;
      animation: plus-out 0.3s;
      transition: all 0.3s;
    }
    
    #container-floating{
      position: fixed;
      width: 70px;
      height: 70px;
      bottom: 882px;
      right: 12px;
      z-index: 50px;
    }
    
    #container-floating:hover .plus{
      animation: plus-in 0.15s linear;
      animation-fill-mode: forwards;
    }
    
    .edit{
      position: absolute;
      top: 0;
      display: block;
      bottom: 0;
      left: 0;
      display: block;
      right: 0;
      padding: 0;
      opacity: 0;
      margin: auto;
      line-height: 65px;
      transform: rotateZ(-70deg);
      transition: all 0.3s;
      animation: edit-out 0.3s;
    }
    
    #container-floating:hover .edit{
      animation: edit-in 0.2s;
       animation-delay: 0.1s;
      animation-fill-mode: forwards;
    }
    
    @keyframes edit-in{
        from {opacity: 0; transform: rotateZ(-70deg);}
        to {opacity: 1; transform: rotateZ(0deg);}
    }
    
    @keyframes edit-out{
        from {opacity: 1; transform: rotateZ(0deg);}
        to {opacity: 0; transform: rotateZ(-70deg);}
    }
    
    @keyframes plus-in{
        from {opacity: 1; transform: rotateZ(0deg);}
        to {opacity: 0; transform: rotateZ(180deg);}
    }
    
    @keyframes plus-out{
        from {opacity: 0; transform: rotateZ(180deg);}
        to {opacity: 1; transform: rotateZ(0deg);}
    }
    
    @keyframes bounce-nds{
        from {opacity: 0;}
        to {opacity: 1; transform: scale(1);}
    }
    
    @keyframes bounce-out-nds{
        from {opacity: 1; transform: scale(1);}
        to {opacity: 0; transform: scale(0);}
    }
  }

  
  








  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente difuminado */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ring
  {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:150px;
    height:150px;
    background:transparent;
    border:3px solid #3c3c3c;
    border-radius:50%;
    text-align:center;
    line-height:150px;
    font-family:sans-serif;
    font-size:20px;
    color:#fff000;
    letter-spacing:4px;
    text-transform:uppercase;
    text-shadow:0 0 10px #fff000;
    box-shadow:0 0 20px rgba(0,0,0,.5);
  }
  .ring:before
  {
    content:'';
    position:absolute;
    top:-3px;
    left:-3px;
    width:100%;
    height:100%;
    border:3px solid transparent;
    border-top:3px solid #fff000;
    border-right:3px solid #fff000;
    border-radius:50%;
    animation:animateC 2s linear infinite;
  }
  span
  {
    display:block;
    position:absolute;
    top:calc(50% - 2px);
    left:50%;
    width:50%;
    height:4px;
    background:transparent;
    transform-origin:left;
    animation:animate 2s linear infinite;
  }
  span:before
  {
    content:'';
    position:absolute;
    width:16px;
    height:16px;
    border-radius:50%;
    background:#fff000;
    top:-6px;
    right:-8px;
    box-shadow:0 0 20px #fff000;
  }
  @keyframes animateC
  {
    0%
    {
      transform:rotate(0deg);
    }
    100%
    {
      transform:rotate(360deg);
    }
  }
  @keyframes animate
  {
    0%
    {
      transform:rotate(45deg);
    }
    100%
    {
      transform:rotate(405deg);
    }
  }