<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="principal.page.scss">
</head>
<body>
    <div class="overlay" *ngIf="mostrarSpinner">
      <div class="ring">Loading<span></span></div>
    
    </div>

      <div *ngIf="mostrarDiv == 'ganado'" class="container">
        <div class="otro-container">
          <div class="box"><img src="assets/imagenes/animales/caballo.png" (click)="speakText('caballo')"></div>
          <div class="box"><img src="assets/imagenes/animales/cerdo.png" (click)="speakText('cerdo')"></div>
          <div class="box"><img src="assets/imagenes/animales/feliz.png" (click)="speakText('gato')"></div>
        </div>
        <div class="otro-container">
          <div class="box"><img src="assets/imagenes/animales/gallina.png" (click)="speakText('gallina')"></div>
          <div class="box"><img src="assets/imagenes/animales/perro.png" (click)="speakText('perro')"></div>
          <div class="box"><img src="assets/imagenes/animales/tortuga.png" (click)="speakText('tortuga')"></div>
        </div>
      </div>
    
    <div class="container" *ngIf="mostrarDiv == 'numeros'">
        <div class="otro-container">
          <div class="box"><img src="assets/imagenes/numeros/cero.png" (click)="speakText('cero')"></div>
          <div class="box"><img src="assets/imagenes/numeros/dos.png" (click)="speakText('dos')"></div>
          <div class="box"><img src="assets/imagenes/numeros/cuatro.png" (click)="speakText('cuatro')"></div>
        </div>
        <div class="otro-container">
          <div class="box"><img src="assets/imagenes/numeros/uno.png" (click)="speakText('uno')"></div>
          <div class="box"><img src="assets/imagenes/numeros/tres.png" (click)="speakText('tres')"></div>
          <div class="box"><img src="assets/imagenes/numeros/cinco.png" (click)="speakText('cinco')"></div>
        </div>
      </div>
    
    <div class="container" *ngIf="mostrarDiv == 'colores'">
        <div class="otro-container">
          <div class="box"><img src="assets/imagenes/colores/azul.png" (click)="speakText('azul')"></div>
          <div class="box"><img src="assets/imagenes/colores/amarillo.png" (click)="speakText('amarillo')"></div>
          <div class="box"><img src="assets/imagenes/colores/rojo.png" (click)="speakText('rojo')"></div>
        </div>
        <div class="otro-container">
          <div class="box"><img src="assets/imagenes/colores/verde.png" (click)="speakText('verde')"></div>
          <div class="box"><img src="assets/imagenes/colores/celeste.png" (click)="speakText('celeste')"></div>
          <div class="box"><img src="assets/imagenes/colores/violeta.png" (click)="speakText('violeta')"></div>
        </div>
      </div>

    <ion-fab slot="fixed" vertical="top" horizontal="end" (click)="cerrarSesion()">
      <ion-fab-button color="danger">
        <ion-icon name="arrow-undo"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button>
        <img [src]="imagenIdiomaElegido">
      </ion-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button>
          <img src="assets/imagenes/portugal.png" (click)="cambiarIdioma('pt')">
        </ion-fab-button>
        <ion-fab-button>
          <img src="assets/imagenes/reino-unido.png" (click)="cambiarIdioma('en-US')">
        </ion-fab-button>
        <ion-fab-button>
          <img src="assets/imagenes/argentina.png" (click)="cambiarIdioma('es')">
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>

    <ion-fab slot="fixed" vertical="top" horizontal="start">
      <ion-fab-button>
        <img [src]="imagenTemaElegido">
      </ion-fab-button>
      <ion-fab-list side="end">
        <ion-fab-button>
          <img src="assets/imagenes/circulo-de-color.png" (click)="cambiarTema('colores')">
        </ion-fab-button>
        <ion-fab-button>
          <img src="assets/imagenes/ganado.png" (click)="cambiarTema('ganado')">
        </ion-fab-button>
        <ion-fab-button>
          <img src="assets/imagenes/bloques-de-numeros.png" (click)="cambiarTema('numeros')">
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
</body>
